<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Issue Tracker Tool</title>
	    <!-- Libraries for AmChart -->
	    <link href="http://amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css">
	    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
	    <script src="http://www.amcharts.com/lib/3/pie.js"></script>
	    <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
	    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
	    <script src="http://www.amcharts.com/lib/3/plugins/export/export.js"></script>

	    <script src="http://cdn.jsdelivr.net/alasql/latest/alasql.min.js"></script> 
		<script src="http://alasql.org/console/xlsx.core.min.js"></script>
		
	    <!-- JS Libraries for Angulat.UI and Angular-Main-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js" type="text/javascript"></script> -->
		
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js" type="text/javascript"></script>

		<!-- Angular Scripts -->
		<script src="js/script.js" type="text/javascript"></script>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/main.css" rel="stylesheet">
	    <link href="css/footer.css" rel="stylesheet">
	    <link href="css/panel.css" rel="stylesheet">
		<link href="css/modal.css" rel="stylesheet">
		<link href="css/table.css" rel="stylesheet">
   	</head>
  	<body>
  		<!-- Show this error if JavaSCript, jQuery and AngularJS is disabled -->
  		<div id="hideIfJS" class="align-center"><br><br><br><br><br><br>
  			<h4>
  				<strong>Error: </strong> Looks like either the JavaScript is disabled in your browser or you don't have access to external JavaScript Libraries.<br><br>
  			</h4>
  			<h5>
  				Please Contact your System Administrator to enable access to JavaScript External.
  			<h5>
  			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  		</div>
  		<!-- Hide all if JavaSCript, jQuery and AngularJS is disabled -->
	  	<div id="hideIfNoJS" class="hidden">
		  	<div ng-controller="PageCtrl">
			    <div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<h2 class="text-center text-success" style="margin-bottom : 0px;">
								Issue Tracker Tool
							</h2><br>

							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>

							<nav class="navbar navbar-default" role="navigation">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										 	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
										</span>
									</button> 
									<a class="navbar-brand" href="#" data-ng-click="reloadPage()" style="font-size:15px;">Refresh <span class="glyphicon glyphicon-refresh"></span></a>
									<!-- <a class="navbar-brand" href="#" data-ng-click="getReleaseNames()">GetAllRelease</a> -->
								</div>
								
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<!-- <li class="active">
											<a href="#">Link</a>
										</li>
										<li>
											<a href="#">Link</a>
										</li> -->
										<li class="dropdown">
											 <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-ng-disabled="disableRelease=='Disabled'">Release<strong class="caret"></strong></a>
											<ul class="dropdown-menu" aria-labelledby="simple-btn-keyboard-nav">
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 4.0'"> <strong>Remedy Release 4.0</strong> </a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 4.2'">Remedy Release 4.2</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 4.1'">Remedy Release 4.1</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 4.0.2'">Remedy Release 4.0.2</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 4.0.1'">Remedy Release 4.0.1</a>
												</li>												
												<li class="divider">
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 3.0'"> <strong>Remedy Release 3.0</strong></a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 3.4'">Remedy Release 3.4</a>
												</li>
												<!-- <li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 3.1.1'">Remedy Release 3.1.1</a>
												</li> -->
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 3.3'">Remedy Release 3.3</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 3.2'">Remedy Release 3.2</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 3.1'">Remedy Release 3.1</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Release 3.0 Review'">Release 3.0 Review</a>
												</li>
												<li class="divider">
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 2.0'"> <strong>Remedy Release 2.0</strong></a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 2.3'">Remedy Release 2.3</a>
												</li>
												<!-- <li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 2.2.3'">Remedy Release 2.2.3</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 2.2.2'">Remedy Release 2.2.2</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 2.2.1'">Remedy Release 2.2.1</a>
												</li> -->
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 2.2'">Remedy Release 2.2</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 2.1'">Remedy Release 2.1</a>
												</li>
												<!-- <li class="divider">
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.4'"> <strong>Remedy Release 1.4</strong></a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.2'"> <strong>Remedy Release 1.2</strong> </a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.6a'">Remedy Release 1.6a</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.6'">Remedy Release 1.6</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.5.B'">Remedy Release 1.5.B</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.5'">Remedy Release 1.5</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.3.1'">Remedy Release 1.3.1</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.3'">Remedy Release 1.3</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy Release 1.2.1'">Remedy Release 1.2.1</a>
												</li>
												<li class="divider">
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='14.6 Target Infrastructure'">14.6 Target Infrastructure</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Remedy 14.2.F.01'">Remedy 14.2.F.01</a>
												</li> -->
												<li class="divider">
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Production Found'"> <strong>Production Found</strong> </a>
												</li>	
												<li>
													<a href="#" data-ng-click="restAPICall='AdHoc Testing'">AdHoc Testing</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='IRIS'">IRIS</a>
												</li>
												
												<li class="divider">
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Regression'">Regression</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='Regression - Auto'">Regression - Auto</a>
												</li>
												<li class="divider">
												</li>
												<li style="padding-left:4px; padding-right:4px;">
													<div>
													<input class="form-control" type="text" ng-model="inputRelease" placeholder="Type Release Name" ng-click="$event.stopPropagation()" typeahead="iprel for iprel in inputReleaseValues | filter:$viewValue | limitTo:8" typeahead-no-results="noResults">
												    <div ng-show="noResults">
												    	<i class="glyphicon glyphicon-remove"></i> No Results Found
												    </div>
													</div>
													
												</li>
												<li style="padding-left:4px; padding-right:4px;padding-top:6px; padding-bottom:2px;">
													<button type="button" class="btn btn-success btn-block" data-ng-click="restAPICall=inputRelease">
														Submit
													</button>
													<!-- <a href="#" data-ng-click="restAPICall='Regression - Auto'">Regression - Auto</a> -->
												</li>
												<!-- <li class="divider">
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='BizTalk Release 1.9.1'">BizTalk Release 1.9.1</a>
												</li>
												<li>
													<a href="#" data-ng-click="restAPICall='BizTalk Upgrade'">BizTalk Upgrade</a>
												</li> -->
											</ul>
										</li>
										<li>
											<a href="#" style="font-size: 18px">
												<strong style="color:rgba(191, 72, 64, 1);">{{restAPICall}}</strong>
												<strong data-ng-show="restAPICall=='Active Issues'"> : {{totalIssues}}</strong>
												<strong data-ng-hide="restAPICall=='Active Issues'"> - Total Issues : {{totalIssues}}</strong>
											</a>
										</li>
									</ul>
									<form class="navbar-form navbar-left" role="search">
										<div class="form-group">
											<!-- <input class="form-control" type="text" ng-model="search.Title" placeholder="Search result by Title" style="width:300px"> -->
											<!-- <input class="form-control" type="text" ng-model="search.Id" placeholder="Search results by Id" style="width:150px"> -->
										</div> 
									</form>
									<ul class="nav navbar-nav navbar-right">
										<!-- <li>
											<a href="#" style="font-size: 20px"><strong>{{restAPICall}}</strong></a>
										</li> -->
										<form class="navbar-form navbar-left" role="search">
											<div class="form-group">
												<input class="form-control" type="text" ng-model="searchIssue" placeholder="Search any Issue by Id" style="width:164px">
												<a type="submit" class="btn btn-default" data-ng-click="searchIssueById(searchIssue)" id="modal-{{searchIssueById}}" href="#modal-container-{{searchIssueById}}" role="button" class="btn" data-toggle="modal">
													Submit
												</a>
											</div> 
										</form>
										<li class="dropdown">
											 <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-ng-disabled="disableRelease=='Disabled'">
											 	<strong>Tools</strong><strong class="caret"></strong>
											 </a>
											<ul class="dropdown-menu">
												<li>
													<a href="#" ng-click="exportToXLS()"><span class="glyphicon glyphicon-save"></span> Export to XLS</a>
												</li>
												<li class="divider">
												</li>
												<li>
													<a type="submit" id="modal-graphs" href="#modal-container-graphs" role="button" data-toggle="modal">
														<span class="glyphicon glyphicon-picture"></span> Visualize
													</a>
												</li>
												<li class="divider">
												</li>
												<li>
													<a type="submit" id="modal-help" href="#modal-container-help" role="button" data-toggle="modal">
														<span class="glyphicon glyphicon-info-sign"></span> Help</a>
												</li>
												<!-- <li class="divider">
												</li> -->
												<!-- <li>
													<a href="#">More Links</a>
												</li> -->
											</ul>
										</li>
									</ul>
								</div>
								
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 panel">
							<div class="panel panel-danger">
								<div class="panel-heading" ng-click="collapseSuccess = !collapseSuccess" style="cursor: pointer;">
									Filter by Severity <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !collapseSuccess, 'glyphicon-chevron-right': collapseSuccess}"></i>
								</div>
								<div class="panel-body reduce-padding" collapse="collapseSuccess">
									<ol>
										<li>
											<a href="" ng-click="search={};search.SeverityValue='0-Pending'">
												<!-- Pending - <strong>{{severityCount.pendingCount}}</strong>  -->
												<span>0-Pending </span>
												<span class="sev-li-align-right"><strong>{{severityCount.pendingCount}}</strong> </span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.SeverityValue='1-Critical'">
												<span>1-Critical </span>
												<span class="sev-li-align-right"><strong>{{severityCount.criticalCount}}</strong></span>
											</a>
											<!-- Tool Tip -->
											<!--  Chnage the ui-bootstrap-tpls-0.10.0.js version to use tooltip, but conflicts with Pagination. 
											<a href="" ng-click="search.SeverityValue='1-Critical'" tooltip-placement="right"  tooltip="1-Critical: Must be resolved immediately. Impact is that either the system is not working, or there is a negative impact to a large number of customer/associates with no workaround." tooltip-class="critical-tooltip">
												Critical - <strong>{{severityCount.criticalCount}}</strong>
											</a> -->
										</li>
										<li>
											<a href="" ng-click="search={}; search.SeverityValue='2-High'">
												<span>2-High </span>
												<span class="sev-li-align-right"><strong>{{severityCount.highCount}}</strong></span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.SeverityValue='3-Medium'">
												<span>3-Medium </span>
												<span class="sev-li-align-right"><strong>{{severityCount.mediumCount}}</strong></span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.SeverityValue='4-Low'">
												<span>4-Low </span>
												<span class="sev-li-align-right"><strong>{{severityCount.lowCount}}</strong></span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.SeverityValue='5-N/A'">
												<span>5-N/A </span>
												<span class="sev-li-align-right"><strong>{{severityCount.naCount}}</strong></span>
											</a>
										</li>
									</ol>
								</div>
							</div>
							<div class="panel panel-success">
								<div class="panel-heading"  ng-click="collapseDanger = !collapseDanger" style="cursor: pointer;">
									Filter by Component <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !collapseDanger, 'glyphicon-chevron-right': collapseDanger}"></i>
								</div>
								<div class="panel-body reduce-padding"  collapse="collapseDanger">
									<ul>
										<li>
											<a href="" ng-click="search={}; search.ComponentValue='Change Management'">
												<span>Change Mgmt </span>
												<span class="comp-li-align-right"> <strong>{{componentCount.Change_Management}}</strong> </span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.ComponentValue='Incident Management'">
												<span>Incident Mgmt </span>
												<span class="comp-li-align-right"> <strong>{{componentCount.Incident_Management}}</strong></span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.ComponentValue='Problem Management'">
												<span>Problem Mgmt </span>
												<span class="comp-li-align-right"> <strong>{{componentCount.Problem_Management}}</strong> </span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.ComponentValue='Knowledge Management'">
												<span>Knowledge Mgmt </span>
												<span class="comp-li-align-right"> <strong>{{componentCount.Knowledge_Management}}</strong></span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.ComponentValue='Event Management'">
												<span>Event Mgmt </span>
												<span class="comp-li-align-right"> <strong>{{componentCount.Event_Management}}</strong> </span>
											</a>
										</li>
										<li>
											<a href="" ng-click="search={}; search.ComponentValue='Service Asset & Configuration Management'">
												<span>SACM </span>
												<span class="comp-li-align-right"> <strong>{{componentCount.Service_Asset_And_Configuration_Management}}</strong> </span>
											</a>
										</li>
										
										<div ng-click="collapseMore = !collapseMore" style="cursor: pointer;">
											<div collapse="!collapseMore"> <em>Show More...</em> </div>	 
										</div>
											
										
										<div collapse="collapseMore">
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='Service Request Fulfillment'">
													<span>SRF </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.Service_Request_Fulfillment}}</strong> </span>
												</a>
											</li>
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='Release & Deployment Management'">
													<span>RDM </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.Release_And_Deployment_Management}}</strong> </span>
												</a>
											</li>
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='DLA - ITBM'">
													<span>DLA - ITBM </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.DLA_ITBM}}</strong> </span>
												</a>
											</li>
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='DLA - SRM'">
													<span>DLA - SRM </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.DLA_SRM}}</strong></span>
												</a>
											</li>
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='DLA Decom'">
													<span>DLA Decom </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.DLA_Decom}}</strong> </span>
												</a>
											</li>
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='Change Evaluation'">
													<span>Change Evaluation </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.Change_Evaluation}}</strong></span>
												</a>
											</li>
											
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='Foundation Data'">
													<span>Foundation Data </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.Foundation_Data}}</strong></span>
												</a>
											</li>
											<!-- <li>
												<a href="" ng-click="search.ComponentValue='Interface'; search.SeverityValue=''; search.RootCauseValue=''">
													<span>Interface - <strong>{{componentCount.Interface}}</strong>
												</a>
											</li> -->
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='Infrastructure'">
													<span>Infrastructure </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.Infrastructure}}</strong></span>
												</a>
											</li>
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='Service Level Management'">
													<span>Service Level Mgmt </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.Service_Level_Management}}</strong></span>
												</a>
											</li>
											<li>
												<a href="" ng-click="search={}; search.ComponentValue='DLA Demand Forecast'">
													<span>DLA Demand Forecast </span>
													<span class="comp-li-align-right"> <strong>{{componentCount.DLA_Demand_Forecast}}</strong></span>
												</a>
											</li>
										</div>
										<div ng-click="collapseMore = !collapseMore" style="cursor: pointer;">
											<div collapse="collapseMore">  <em>Show Less...</em>  </div>	 
										</div>
										
									</ul>
								</div>
							</div>
							<div class="panel panel-warning">
								<div class="panel-heading"   ng-click="collapseWarning = !collapseWarning" style="cursor: pointer;">
									Filter by Root Cause <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !collapseWarning, 'glyphicon-chevron-right': collapseWarning}"></i>
								</div>
								<div class="panel-body reduce-padding" collapse="collapseWarning">
									<ul>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Data'">
											<span>Data</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.Data}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Script'">
											<span>Script</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.Script}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Code'">
											<span>Code/Vendor Code</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.Code}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='User Education'">
											<span>User Education</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.UserEducation}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Environmental'">
											<span>Environmental</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.Environmental}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Infrastructure'">
											<span>Infrastructure</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.Infrastructure}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Working As Designed'">
											<span>Working As Designed</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.WorkingAsDesigned}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Missed Requirement'">
											<span>Missed Requirement</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.MissedRequirement}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Requirement Updates'">
											<span>Requirement Updates</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.RequirementUpdates}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Interface Not Running'">
											<span>Interface Not Running</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.InterfaceNotRunning}}</strong></span>
										</a></li>
										<li><a href="" ng-click="search={}; search.RootCauseValue='Interfacing Application'">
											<span>Interfacing Application</span>
											<span class="root-li-align-right"><strong>{{rootCauseCount.InterfacingApplication}}</strong></span>
										</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									<a href="" ng-click="resetFilters()">Reset Filters</a>
								</div>
							</div>
						</div>
						<div class="col-md-10 reduce-panel-padding">
							<div class="alert alert-warning alert-dismissible fade in" role="alert" style="width:95%; font-size:14px;">
					      		<button class="close" aria-label="Close" type="button" data-dismiss="alert">
					      			<span aria-hidden="true" style="color:rgba(255,0,0,1);"> <strong>×</strong></span>
					      		</button>
					    		<strong>Issue Tracker Reporting Tool</strong>  <br>The issue tracking system keeps track of reported software and user issues in the software development lifecycle projects for the ITSM Remedy suite and related products. It is used to manage and maintain a list of issues reported during SDLC, it is not for production issues. For production related issue, please report to your local helpdesk.
					    	</div>
							<div class="scroll-table">
								<table class="table table-condensed table-hover">
									<thead>	
								  		<tr>
								  			<td>
								  				<div class="" ng-click="collapseFilter = !collapseFilter" style="cursor: pointer;">
													<i class="glyphicon" ng-class="{'glyphicon-chevron-down': collapseFilter, 'glyphicon-chevron-up': !collapseFilter}" data-toggle="tooltip" data-placement="up" title="  Click here to filter Results  "></i>
												</div>
								  			</td>
								        	 <td style="width:90px !important;"> 
								        	 	<a href="" ng-click="orderByCriteria='Id'; reverse = !reverse"> Issue Id </a> 
								        	 	<span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td> 
								        	 <td> 
								        	 	<a href="" ng-click="orderByCriteria='Title'; reverse = !reverse">Title</a>
								        	 	<span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td>
								        	 <td> 
								        	 	<a href="" ng-click="orderByCriteria='ComponentValue'; reverse = !reverse">Component</a>
								        	 	 <span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td> 
								        	 <td style="width:80px !important;"> 
								        	 	<a href="" ng-click="orderByCriteria='SeverityValue'; reverse = !reverse">Severity</a>
								        	 	 <span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td> 
								        	 <td style="width:100px !important;"> 
								        	 	<a href="" ng-click="orderByCriteria='TestStatusValue'; reverse = !reverse">Test Status</a>
								        	 	 <span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td> 
								        	 <td style="width:100px !important;"> 
								        	 	<a href="" ng-click="orderByCriteria='StatusValue'; reverse = !reverse">IT Status</a>
								        	 	 <span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td>
								        	 <td  data-ng-show="restAPICall=='Active Issues'"> 
								        	 	<a href="" ng-click="orderByCriteria='Release'; reverse = !reverse">Release</a>
								        	 	 <span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td> 
								        	 <td data-ng-hide="restAPICall=='Active Issues'" style="width:110px !important;"> 
								        	 	<a href="" ng-click="orderByCriteria='RootCauseValue'; reverse = !reverse">Root Cause</a>
								        	 	 <span class="glyphicon glyphicon-sort small-size"></span>
								        	 </td>
								    	</tr>

								    	<tr collapse="collapseFilter">
								    		<td style="line-height:35px !important;">
								    			Filter:
								    		</td>
								        	 <td> 
								        	 	<input class="form-control" type="text" ng-model="search.Id" placeholder="Search Id" style="font-size:11px;">
								        	 </td> 
								        	 <td> 
								        	 	<input class="form-control" type="text" ng-model="search.Title" placeholder="Search Title" style="font-size:11px;">
								        	 </td>
								        	 <td> 
								        	 	<input class="form-control" type="text" ng-model="search.ComponentValue" placeholder="Search Component" style="font-size:11px;">
								        	 </td> 
								        	 <td> 
								        	 	<input class="form-control" type="text" ng-model="search.SeverityValue" placeholder="Severity" style="font-size:11px;">
								        	 </td> 
								        	 <td> 
								        	 	<input class="form-control" type="text" ng-model="search.TestStatusValue" placeholder="Test Status" style="font-size:11px;">
								        	 </td> 
								        	 <td> 
								        	 	<input class="form-control" type="text" ng-model="search.StatusValue" placeholder="IT Status" style="font-size:11px;">
								        	 </td>
								        	 <td  data-ng-show="restAPICall=='Active Issues'"> 
								        	 	<input class="form-control" type="text" ng-model="search.Release" placeholder="Search Release" style="font-size:11px;">
								        	 </td> 
								        	 <td data-ng-hide="restAPICall=='Active Issues'"> 
								        	 	<input class="form-control" type="text" ng-model="search.RootCauseValue" placeholder="Root Cause" style="font-size:11px;">
								        	 </td>
								    	</tr>
									</thead>
								  	<tbody>
								  		
								  		<tr ng-hide="myClass=='hideimage'">
								  			<td colspan="8">
								  				<br><br><br><br><br><br><br><br><br>
								  				<div ng-class="myClass"></div>
								  				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								  			</td>
								  		</tr>
									   	<div>
										   	<tr ng-repeat="item in (filtered = items) | orderBy: orderByCriteria : reverse | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" ng-show="myClass=='hideimage'" class="font-adjustment">
										   		<td style="font-size:16px;">
										   			<!-- iFrame in Modal for Edit is not working in IE -->
										   			<!-- <li type="submit" class="glyphicon glyphicon-edit" data-ng-click="editIssue(item.Id)" id="modal-edit" href="#modal-container-editIssue" role="button" class="btn" data-toggle="modal">
													</li> -->
													<a target="_blank" href="http://sharepoint.yourcompany.com/sites/IssueTracker/Issue/editifs.aspx?ID={{item.Id}}">
														<li class="glyphicon glyphicon-edit" style="color:black"></li>
													</li>
													</a>
										   		</td>
										        <td>
										        	<a target="_blank" href="http://sharepoint.yourcompany.com/sites/IssueTracker/Issue/displayifs.aspx?ID={{item.Id}}">
														<strong>{{item.Id}}</strong>
													</a>
													<!-- Modal was here -->
										         </td> 
										         <td>
										         	<div style="width: 300px">{{item.Title}}</div>
										         </td> 
										         <td>{{item.ComponentValue}}</td> 
										         <td>
										         	<div data-ng-class="(item.SeverityValue=='0-Pending')? 'Pending': ((item.SeverityValue=='1-Critical')? 'Critical':((item.SeverityValue=='2-High')?'High' : ((item.SeverityValue=='3-Medium')?'Medium': ((item.SeverityValue=='4-Low')?'Low' : 'NA' ))))">
										         		{{item.SeverityValue}}
										         	</div>
										         </td> 
										         <td> {{item.TestStatusValue}} </td> 
										         <td> {{item.StatusValue}} </td>
										         <td data-ng-show="restAPICall=='Active Issues'"> {{item.Release}}  </td>
										         <td data-ng-hide="restAPICall=='Active Issues'"> {{item.RootCauseValue}} </td>
										    </tr>
										</div>
								    </tbody>
								</table>
							</div>
							<div class="align-center">
								<pre style="padding: 4px; margin-bottom: 0px;" > Page: {{currentPage}} / {{noOfPages}} </pre> 
								
								<pagination total-items="totalItems" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="noOfPages" items-per-page="entryLimit"></pagination>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal for Issue Edit -->
				<!-- <div class="modal fade" id="modal-container-editIssue" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="vertical-alignment-helper">
						<div class="modal-dialog modal-lg vertical-align-center">
							<div class="modal-content">
								<div data-ng-show="dataLoading">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											×
										</button><br>
									</div>
									<div class="modal-body">
										<div class="panel panel-default">
										  	<iframe data-ng-src="{{editIssueUrl}}" height=600 width=966></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->


				<!-- Modal for Search Any Issue -->
				<div class="modal fade" id="modal-container-{{searchIssueById}}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="vertical-alignment-helper">
						<div class="modal-dialog modal-lg vertical-align-center">
							<div class="modal-content">
								<div data-ng-show="dataLoading">
									<div class="modal-header">
										 
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											×
										</button>
										<div class="row">
											<div data-ng-show="isIssueExist">
												<div class="col-md-8"><br>
													<h2 class="modal-title" id="myModalLabel" style="padding-left:30px;">
														Issue Id : {{searchReturnedById[0].Id}}
													</h2>
												</div>
												<div class="col-md-4">
													Status: <strong> {{searchReturnedById[0].StatusValue}} </strong> <br>
													Severity: <strong> {{searchReturnedById[0].SeverityValue}}</strong>
												</div>
											</div>
											<div data-ng-hide="isIssueExist">
												<div class="col-md-12"><br>
													<h2 class="modal-title align-center" id="myModalLabel">
														Issue Does Not exists.
													</h2>
												</div>
											</div>
										</div>
									</div>
									<div data-ng-show="isIssueExist">
										<div class="modal-body">
											
											<div class="panel panel-default">
											  	<div class="panel-heading">
											  		<h5>
											  			Issue : {{searchReturnedById[0].Id}} <br><br>
											  			Summary : {{searchReturnedById[0].Title}} 
											  		</h5>
											  	</div>
											  	<div class="panel-body">
											  		<div class="row">
											  			<div class="col-md-3">
										  					<div style="border-width:2px;border-style:solid;border-color:rgb(255,255,255);border-right-color: rgba(0,0,0,0.15);"><br>
										  						<p style="line-height: 180%;">
										  							Release : {{searchReturnedById[0].Release}} <br>
														    		Component : {{searchReturnedById[0].ComponentValue}}<br><br>
														    		Exists in Prod : {{searchReturnedById[0].ExistInProdValue}}<br>
														  			Category : {{searchReturnedById[0].CategoryValue}}<br>
														  			Subcategory : {{searchReturnedById[0].SubcategoryValue}}<br>
														  			Test Status : {{searchReturnedById[0].TestStatusValue}}<br><br>
										  						</p>
										  						
										  					</div>
												    	</div>
												    	<div class="col-md-9">
												    		<div>
												    			<table style="width:100%">
												    			<tr>
												    				<td>Related Story : {{searchReturnedById[0].RelatedStory}}</td>
												    				<td>Script Number : {{searchReturnedById[0].ScriptNumber}}</td>
												    				<td>Request Number : {{searchReturnedById[0].RequestNumber}}</td>
												    			</tr>
												    		</table> <br>
												    		Steps to Reproduce : <br>
												    		{{searchReturnedById[0].Description}}<br><br>
												    		Expected Result : <br>
												    		{{searchReturnedById[0].ExpectedResult}}<br><br>
												    		Actual Result :<br>
												    		{{searchReturnedById[0].ActualResult}}
												    		</div>
												    	</div>
											  		</div>
											  	</div>
											</div>
										</div>
										<div class="modal-footer">
											 
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Close
											</button> 
											<a data-ng-hide="isArchieved" type="button" class="btn btn-primary" target="_blank" href="http://sharepoint.yourcompany.com/sites/IssueTracker/Issue/displayifs.aspx?ID={{searchReturnedById[0].Id}}">
												More Info on <strong>Issue - {{searchReturnedById[0].Id}}</strong>
											</a>
											<a data-ng-show="isArchieved" type="button" class="btn btn-primary" target="_blank" href="http://sharepoint.yourcompany.com/sites//ita/Issue/displayifs.aspx?ID={{searchReturnedById[0].Id}}">
												More Info on <strong>Issue - {{searchReturnedById[0].Id}}</strong>
											</a>
										</div>
									</div>
									<div data-ng-hide="isIssueExist">
										<div class="modal-body">
											<br>
											<h4>Please Check the Issue Id and try again....<h4>
											<br>
										</div>
										<div class="modal-footer">
											 
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Close
											</button> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal for Graphs -->
				<div class="modal fade" id="modal-container-graphs" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="vertical-alignment-helper">
						<div class="modal-dialog modal-lg vertical-align-center">
								<div class="modal-content">
									
									<div class="modal-header">
																		 
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											×
										</button>
										<div class="row">
											<div class="col-md-12"><br>
												<h3 class="modal-title align-center" id="myModalLabel">
													Visualize Issues in Charts by Severity, Root Cause Value and Component
												</h3><br>
											</div>
										</div>
									</div>
									<div class="modal-body">
										<tabset>
											<tab heading="Issues by Severity">
												<!-- This below code if for Future Additon of Themes -->
												<!-- <div class="demo-nav-top demo-themes pull-right ">
													<ul>
														<li>
															<span class="size-small family-light color-lightgray m-hide">Click to change theme:&nbsp;&nbsp;</span>
															<span class="size-small family-light color-lightgray m-only">Theme:&nbsp;&nbsp;</span>
														</li>
														<li class="demo-themes-item amcharts-tooltip active" data-theme="light" data-css="" data-title="Light" data-original-title="" title="">
															<a class="fx-all-250" href="#theme-light">
																<img width="36" height="35" src="http://www.amcharts.com/wp-content/uploads/2013/11/theme_light2.png" class="attachment-full wp-post-image" alt="theme_light"> 
															</a>
														</li>
														<li class="demo-themes-item amcharts-tooltip" data-theme="dark" data-css="background: #3f3f4f;color:#ffffff;					" data-title="Dark" data-original-title="" title="">
															<a class="fx-all-250" href="#theme-dark">
																<img width="36" height="35" src="http://www.amcharts.com/wp-content/uploads/2013/11/theme_dark2.png" class="attachment-full wp-post-image" alt="theme_dark"> 
															</a>
														</li>
														<li class="demo-themes-item amcharts-tooltip" data-theme="chalk" data-css="background: #282828 url('http://www.amcharts.com/lib/3/patterns/chalk/bg.jpg');color: #fff;	" data-title="Chalk" data-original-title="" title="">
															<a class="fx-all-250" href="#theme-chalk">
																<img width="36" height="35" src="http://www.amcharts.com/wp-content/uploads/2013/11/theme_chalk.png" class="attachment-full wp-post-image" alt="theme_chalk"> 
															</a>
														</li>
														<li class="demo-themes-item amcharts-tooltip" data-theme="patterns" data-css="" data-title="Patterns" data-original-title="" title="">
															<a class="fx-all-250" href="#theme-patterns">
																<img width="35" height="35" src="http://www.amcharts.com/wp-content/uploads/2013/11/theme_pattern2.png" class="attachment-full wp-post-image" alt="theme_pattern"> 
															</a>
														</li>
														<li class="demo-themes-item amcharts-tooltip" data-theme="none" data-css="" data-title="Default" data-original-title="" title="">
															<a class="fx-all-250" href="#theme-none">
																<img width="36" height="35" src="http://www.amcharts.com/wp-content/uploads/2013/11/theme_none.png" class="attachment-full wp-post-image" alt="theme_none"> 
															</a>
														</li>
													</ul>
												</div> -->
												<div id="severityChart"></div>
												<div class="container-fluid">
												  <div class="row text-center modal-footer align-center" style="overflow:hidden;">
														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Angle:</label>
															<input class="severityChartVar-input" data-property="angle" type="range" min="0" max="60" value="30" step="1"/>	
														</div>

														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Depth:</label>
															<input class="severityChartVar-input" data-property="depth3D" type="range" min="1" max="25" value="10" step="1"/>
														</div>
														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Inner-Radius:</label>
															<input class="severityChartVar-input" data-property="innerRadius" type="range" min="0" max="80" value="0" step="1"/>
														</div>
														<button type="button" class="btn btn-default modal-align-right" data-dismiss="modal">
															Close
														</button>												
													</div>
												</div>																									
											</tab>
											
											<tab heading="Issue by Root Cause">
												<div id="RootCauseChart"></div>
												<div class="container-fluid">
												  	<div class="row text-center modal-footer align-center" style="overflow:hidden;">
														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Angle:</label>
															<input class="rootCauseChart-input" data-property="angle" type="range" min="0" max="89" value="30" step="1"/>	
														</div>

														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Depth:</label>
															<input class="rootCauseChart-input" data-property="depth3D" type="range" min="1" max="120" value="20" step="1"/>
														</div>
														<button type="button" class="btn btn-default modal-align-right" data-dismiss="modal">
															Close
														</button>												
													</div>
												</div>																					
											</tab>
											<tab heading="Issues by Component">
												<div id="componentChart"></div>
												<div class="container-fluid">
												  <div class="row text-center modal-footer align-center" style="overflow:hidden;">
														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Top Radius:</label>
															<input class="componentChartVar-input" data-property="topRadius" type="range" min="0" max="1.5" value="1" step="0.01"/>
														</div>

														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Angle:</label>
															<input class="componentChartVar-input" data-property="angle" type="range" min="0" max="89" value="30" step="1"/>	
														</div>

														<div class="col-sm-3" style="float: none !important;display: inline-block;">
															<label class="text-left">Depth:</label>
															<input class="componentChartVar-input" data-property="depth3D" type="range" min="1" max="120" value="40" step="1"/>
														</div>
														<button type="button" class="btn btn-default modal-align-right" data-dismiss="modal">
															Close
														</button> 
													</div>
												</div>																							
											</tab>
										</tabset>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal for Help Section -->
				<div class="modal fade" id="modal-container-help" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="vertical-alignment-helper">
						<div class="modal-dialog modal-lg vertical-align-center">
								<div class="modal-content">
									
									<div class="modal-header">
																		 
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											×
										</button>
										<div class="row">
											<div class="col-md-12"><br>
												<h3 class="modal-title align-center" id="myModalLabel">
													Help - Get aware of Issue Tracker Tool!
												</h3><br>
												<p>
													This section deals with the Features of Issue Tracker Tools and what can be achieved with it.
												</p>
											</div>
										</div>
									</div>
									<div class="modal-body">
										
										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										  <div class="panel panel-danger">
										    <div class="panel-heading faint-heading" role="tab" id="headingOne">
										      <h4 class="panel-title">
										        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										          Home Page UI -
										        </a>
										      </h4>
										    </div>
										    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										      <div class="panel-body faint-body">
										      	<p> 
										      		<strong>Active Issues :</strong> The first page is loaded with the Active Issues.<br>
										      		Click on Issues <span class="glyphicon glyphicon-refresh"></span> Refresh icon to reload the Page and refresf the Result with Active Issues.
										      	</p>
										        <p>
										        	<strong>Release :</strong> Select any Release from the Release dropdown to fetch the Issues repoerted for that Release.
										        </p> 
										        <p>
										        	<strong>Search by Tittle: </strong>
										        	Type the Title of the Issues to filter the results displayed in the table.
										        </p>
										        <p>
										        	<strong>Search Any Issue by Id: </strong>
										        	Type the Issue Id of any Issue and click Submit to get the issue info.<br>
										        	Note : This field looks for the Issue in Current as well as Archived issues.
										        	User can use this field to search for any historical Issues.
										        </p>
										         <p>
										        	<strong>Tools : </strong>
										        	Click on Tools dropdown to use tools such as Export to Excel, display graphs, etc.
										        </p>
										        <p>
										        	<strong>Issue Filter Panels : </strong>
										        	Click on the Filter links to filter the Issues by Severity, Component or Root Cause.<br>
										        	Click Reset Filter to reset filter and display all issues in Result.<br>
										        	<em>Note: Only one filter is applied at one time.</em>
										        </p>
										      </div>
										    </div>
										  </div>
										  <div class="panel panel-danger">
										    <div class="panel-heading faint-heading" role="tab" id="headingTwo">
										      <h4 class="panel-title">
										        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										          Tools -
										        </a>
										      </h4>
										    </div>
										    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										      <div class="panel-body faint-body">
										        <p> 
										      		<strong>Export to XLS :</strong> Click on Export to XLS link to export all the Issues for the selected Release along with the Count of Issues as per Severity, Component and Root Cause.
										      	</p>
										      	<p> 
										      		<strong>Visualize :</strong> Click on Visualize link to view Charts of Issues for the selected Release along with the Count of Issues as per Severity, Component and Root Cause.<br>
										      		Each Charts in each Tabs are interactive, User can change the attributes to change the Chart and choose to download it various formats. <br>
										      		User can also Save the Data the chart represents in CSV, XLSX or JSON format. <br>
										      		Click on Annotate link to Draw or add Shapes, add Text over the Chart and then Download it in various formats.
										      	</p>
										      	<p> 
										      		<strong>Help :</strong> Guide to use Issue Tracker Tool.
										      	</p>
										      </div>
										    </div>
										  </div>
										  <div class="panel panel-danger">
										    <div class="panel-heading faint-heading" role="tab" id="headingThree">
										      <h4 class="panel-title">
										        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										          Miscellaneous -
										        </a>
										      </h4>
										    </div>
										    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										      <div class="panel-body faint-body">
										        
										      </div>
										    </div>
										  </div>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Close
										</button> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer-basic-centered">

				<p class="footer-company-motto">Issue Tracker Tool</p>

				<p class="footer-links">
					
					<a href="http://sharepoint.yourcompany.com/sites/qualitymgmt/tm/default.aspx" target=_blank>Test Management</a>
					·
					<a href="http://sharepoint.yourcompany.com/sites/IssueTracker/Active.aspx" target=_blank>Issue Tracker</a>
					·
	 				<a href="http://sharepointapps.yourcompany.com/sites/IRIS" target=_blank> IRIS </a>
	 				·
	 				<a href="mailto:sanjay.p.rawat@yourcompany.com">Contact</a>
	 
				</p>

				<p class="footer-company-name">
					© 2015 - <em>Sanjay Rawat</em> <br>
					<em>version 1.8.1</em>
				</p>
		</footer>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <script src="js/scripts.js"></script>
  	</body>
</html>
